{
    "eslintIntegration": true,
    "stylelintIntegration": true,
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "bracketSpacing": true,
    "trailingComma": "none",
    "printWidth": 1000,
    "proseWrap": "never",
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": ".prettierrc",
            "options": {
                "parser": "json"
            }
        }
    ]
}
